[alias]
    st = status
[color]
    ui = true
[user]
    name = dcharrier
    email = dcharrier@spotify.com
[core]
    excludesfile = ~/.gitignore_global
[web]
    browser = chrome
[mergetool]
    keepTemporaries = false
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
