[alias]
    st = status
[color]
    ui = true
[user]
    name = BruceWouaigne
    email = charrier.denis@gmail.com
[core]
    excludesfile = ~/.gitignore_global
[web]
    browser = chrome
[mergetool]
    keepTemporaries = false
[merge]
    tool = meld
    #tool = kdiff3
    #tool = opendiff
