packages: [
  "accents-ui"
  "atom-autocomplete-php"
  "atom-beautify"
  "atom-import-js"
  "atom-shortcuts"
  "atom-wrap-in-tag"
  "autoclose-html"
  "autocomplete-modules"
  "emmet"
  "ex-mode"
  "gruvbox"
  "ide-php"
  "language-htaccess"
  "monokai"
  "package-sync"
  "php-twig"
  "react"
  "sublime-ui-dark"
  "trailing-spaces"
  "vim-mode-plus"
  "warn-before-quitting"
  "wombat-dark-syntax"
]
