packages: [
  "atom-beautify"
  "atom-import-js"
  "atom-shortcuts"
  "autocomplete-modules"
  "emmet"
  "ex-mode"
  "monokai"
  "package-sync"
  "parcel"
  "react"
  "trailing-spaces"
  "vim-mode-plus"
  "warn-before-quitting"
  "wombat-dark-syntax"
]
