# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
# Important: When adding a new snippet,
# there is a second section halfway down this file
# where you need to null-out the snippet to prevent it from
# appearing in tags or embedded contexts

'.html.php.text':
  'class':
    'prefix': 'class',
    'body': """
    <?php

    class ${1:clazz}
    {
      $2
    }
    """
  'br':
    'prefix': 'br',
    'body': '<br/>'

'.php.source':
  'dvd':
    'prefix': 'dvd',
    'body': 'die(var_dump($0));'

'.text.html, .source.js.jsx':
  'dvd':
    'prefix': 'dvd'
    'body': 'console.log($0);'
